<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- begin_tasks (pattern with "T_" before name task) -->    
    <add key="T_SayHelloTask" value="0/5 * * * * ?" />
    <add key="T_SayByeTask" value="0/9 * * * * ?" />
        <!-- end_tasks -->

  </appSettings>

</configuration>